@model IEnumerable<HerbalApothecary.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HerbId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceMetric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HerbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceMetric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
